<section class="blog">
    <div class="container">
        <div class="blog__title">Блог</div>
        <ul class="blog__tabs">
            <li class="blog__tabs_item" tabindex="0">Lorem</li>
            <li class="blog__tabs_item" tabindex="0">Lorem</li>
            <li class="blog__tabs_item" tabindex="0">Lorem</li>
            <li class="blog__tabs_item" tabindex="0">Lorem</li>
            <li class="blog__tabs_item" tabindex="0">Lorem</li>
        </ul>
        <div class="blog__box">
            <div class="blog__img">
                <img src="images/blog.png" alt="img">
            </div>
            <div class="blog__box_text">
                <div class="blog__box_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At blandit commodo diam.</div>
                <div class="blog__box_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing ut ultrices proin elit velit dictum. Eu consectetur parturient ut velit amet amet, eu urna leo. Eu mauris sagittis, felis elit sed. Quis viverra quam est proin tortor. Consectetur est.</div>
                <div class="blog__box_bottom">
                    <div class="blog__box_name">Lorem</div>
                    <div class="blog__box_date">11 апреля 2022</div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog__box blog__box_mob">
            <div class="blog__img">
                <img src="images/blog.png" alt="img">
            </div>
            <div class="blog__box_text">
                <div class="blog__box_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At blandit commodo diam.</div>
                <div class="blog__box_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing ut ultrices proin elit velit dictum. Eu consectetur parturient ut velit amet amet, eu urna leo. Eu mauris sagittis, felis elit sed. Quis viverra quam est proin tortor. Consectetur est.</div>
                <div class="blog__box_bottom">
                    <div class="blog__box_name">Lorem</div>
                    <div class="blog__box_date">11 апреля 2022</div>
                </div>
            </div>
        </div>
    <div class="container">
        <ul class="blog__grid">
            <li class="blog__card">
                <div class="blog__card_img">
                    <img src="images/blog1.png" alt="card">
                </div>
                <div class="blog__card_title">Lorem ipsum dolor sit amet</div>
                <div class="blog__box_bottom blog__box_bottom_card">
                    <div class="blog__box_name">Lorem</div>
                    <div class="blog__box_date">11 апреля 2022</div>
                </div>
            </li>
            <li class="blog__card">
                <div class="blog__card_img">
                    <img src="images/blog2.png" alt="card">
                </div>
                <div class="blog__card_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At blandit commodo diam.</div>
                <div class="blog__box_bottom blog__box_bottom_card">
                    <div class="blog__box_name">Lorem</div>
                    <div class="blog__box_date">11 апреля 2022</div>
                </div>
            </li>
            <li class="blog__card">
                <div class="blog__card_img">
                    <img src="images/blog3.png" alt="card">
                </div>
                <div class="blog__card_title">Lorem ipsum dolor sit amet, consectetur</div>
                <div class="blog__box_bottom blog__box_bottom_card">
                    <div class="blog__box_name">Lorem</div>
                    <div class="blog__box_date">11 апреля 2022</div>
                </div>
            </li>
            <li class="blog__card">
                <div class="blog__card_img">
                    <img src="images/blog4.png" alt="card">
                </div>
                <div class="blog__card_title">Lorem ipsum dolor sit amet</div>
                <div class="blog__box_bottom blog__box_bottom_card">
                    <div class="blog__box_name">Lorem</div>
                    <div class="blog__box_date">11 апреля 2022</div>
                </div>
            </li>
            <li class="blog__card">
                <div class="blog__card_img">
                    <img src="images/blog5.png" alt="card">
                </div>
                <div class="blog__card_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At blandit commodo diam.</div>
                <div class="blog__box_bottom blog__box_bottom_card">
                    <div class="blog__box_name">Lorem</div>
                    <div class="blog__box_date">11 апреля 2022</div>
                </div>
            </li>
            <li class="blog__card">
                <div class="blog__card_img">
                    <img src="images/blog6.png" alt="card">
                </div>
                <div class="blog__card_title">Lorem ipsum dolor sit amet, consectetur</div>
                <div class="blog__box_bottom blog__box_bottom_card">
                    <div class="blog__box_name">Lorem</div>
                    <div class="blog__box_date">11 апреля 2022</div>
                </div>
            </li>
        </ul>
        <button class="button blog__button" type="button">Показать ещё</button>
    </div>
</section>
<section class="blog__popular">
    <div class="container">
        <div class="blog__popular_title">Популярное</div>
        <div class="blog__popular_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing ut ultrices </div>
        <ul class="blog__grid">
            <li class="blog__card">
                <div class="blog__card_img">
                    <img src="images/blog1.png" alt="card">
                </div>
                <div class="blog__card_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At blandit commodo diam.</div>
                <div class="blog__box_bottom">
                    <div class="blog__box_name">Lorem</div>
                    <div class="blog__box_date">11 апреля 2022</div>
                </div>
            </li>
            <li class="blog__card">
                <div class="blog__card_img">
                    <img src="images/blog2.png" alt="card">
                </div>
                <div class="blog__card_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At blandit commodo diam.</div>
                <div class="blog__box_bottom">
                    <div class="blog__box_name">Lorem</div>
                    <div class="blog__box_date">11 апреля 2022</div>
                </div>
            </li>
            <li class="blog__card">
                <div class="blog__card_img">
                    <img src="images/blog3.png" alt="card">
                </div>
                <div class="blog__card_title">Lorem ipsum dolor sit amet, consectetur </div>
                <div class="blog__box_bottom">
                    <div class="blog__box_name">Lorem</div>
                    <div class="blog__box_date">11 апреля 2022</div>
                </div>
            </li>
            <li class="blog__card">
                <div class="blog__card_img">
                    <img src="images/blog4.png" alt="card">
                </div>
                <div class="blog__card_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At blandit commodo diam.</div>
                <div class="blog__box_bottom">
                    <div class="blog__box_name">Lorem</div>
                    <div class="blog__box_date">11 апреля 2022</div>
                </div>
            </li>
            <li class="blog__card">
                <div class="blog__card_img">
                    <img src="images/blog5.png" alt="card">
                </div>
                <div class="blog__card_title">Lorem ipsum dolor sit amet</div>
                <div class="blog__box_bottom">
                    <div class="blog__box_name">Lorem</div>
                    <div class="blog__box_date">11 апреля 2022</div>
                </div>
            </li>
            <li class="blog__card">
                <div class="blog__card_img">
                    <img src="images/blog6.png" alt="card">
                </div>
                <div class="blog__card_title">Lorem ipsum dolor sit amet, consectetur </div>
                <div class="blog__box_bottom">
                    <div class="blog__box_name">Lorem</div>
                    <div class="blog__box_date">11 апреля 2022</div>
                </div>
            </li>
        </ul>
    </div>
</section>