<div class="compare">
    <div class="container">
        <div class="compare__title">Сравните характеристики</div>
        <div class="compare__content">
            
            <ul class="compare__top">
                <li class="compare__name compare__name_empty">Empty</li>
                <li class="compare__name ">Беcплатно</li>
                <li class="compare__name">Lorem ipsum</li>
                <li class="compare__name">Lorem ipsum</li>
                <li class="compare__name">Lorem ipsum</li>
            </ul>
            <ul class="compare__line">
                <li class="compare__item_title">Eleifend dignissim.</li>
                <li class="compare__item_text">$0</li>
                <li class="compare__item_text">$99</li>
                <li class="compare__item_text">$149</li>
                <li class="compare__item_text">$199</li>
            </ul>
            <ul class="compare__line">
                <li class="compare__item_title">Ежемесячная цена,<br> при олате за год</li>
                <li class="compare__item_text">$0</li>
                <li class="compare__item_text">$99</li>
                <li class="compare__item_text">$149</li>
                <li class="compare__item_text">$199</li>
            </ul>
            <div class="compare__subtitle">Vel sit libero.</div>
            <ul class="compare__line">
                <li class="compare__item_title">Eleifend dignissim.</li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
            </ul>
            <ul class="compare__line">
                <li class="compare__item_title">Eleifend dignissim.</li>
                <li class="compare__item_icon">
                     <div class="compare__item_icon_x">
                        <img  src="images/x.png" alt="icon">
                        <img class="compare__icon_question" src="images/icon_question.png" alt="icon">
                        <div class="compare__info">Lorem ipsum vLorem ipsum</div>
                    </div>
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
            </ul>
            <ul class="compare__line">
                <li class="compare__item_title">Eleifend dignissim.</li>
                <li class="compare__item_icon">
                     <div class="compare__item_icon_x">
                        <img  src="images/x.png" alt="icon">
                        <img class="compare__icon_question"  src="images/icon_question.png" alt="icon">
                        <div class="compare__info">Lorem ipsum vLorem ipsum</div>
                    </div>
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
            </ul>
            <ul class="compare__line">
                <li class="compare__item_title">Eleifend dignissim.</li>
                <li class="compare__item_icon">
                     <div class="compare__item_icon_x">
                        <img  src="images/x.png" alt="icon">
                        <img class="compare__icon_question"  src="images/icon_question.png" alt="icon">
                        <div class="compare__info">Lorem ipsum vLorem ipsum</div>
                    </div>
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
            </ul>
            <ul class="compare__line">
                <li class="compare__item_title">Eleifend dignissim.</li>
                <li class="compare__item_icon">
                     <div class="compare__item_icon_x">
                        <img  src="images/x.png" alt="icon">
                        <img class="compare__icon_question"  src="images/icon_question.png" alt="icon">
                        <div class="compare__info">Lorem ipsum vLorem ipsum</div>
                    </div>
                </li>
                <li class="compare__item_icon">
                     <div class="compare__item_icon_x">
                        <img  src="images/x.png" alt="icon">
                        <img class="compare__icon_question"  src="images/icon_question.png" alt="icon">
                        <div class="compare__info">Lorem ipsum vLorem ipsum</div>
                    </div>
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
            </ul>
            <ul class="compare__line">
                <li class="compare__item_title">Eleifend dignissim.</li>
                <li class="compare__item_icon">
                    <div class="compare__item_icon_x">
                        <img  src="images/x.png" alt="icon">
                        <img class="compare__icon_question"  src="images/icon_question.png" alt="icon">
                        <div class="compare__info">Lorem ipsum vLorem ipsum</div>
                    </div>
                </li>
                <li class="compare__item_icon">
                     <div class="compare__item_icon_x">
                        <img  src="images/x.png" alt="icon">
                        <img class="compare__icon_question"  src="images/icon_question.png" alt="icon">
                        <div class="compare__info">Lorem ipsum vLorem ipsum</div>
                    </div>
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
                <li class="compare__item_icon">
                    <img src="images/okey.png" alt="icon">
                </li>
            </ul>
            <ul class="compare__bottom">
                <li class="compare__bottom_item">Mauris pretium.</li>
                <li class="compare__bottom_item">Molestie vehicula.</li>
                <li class="compare__bottom_item">Sit pharetra sed a.</li>
                <li class="compare__bottom_item">Etiam molestie.</li>
            </ul>
        </div>
    </div>
</div>