<section class="decision">
  <div class="decision__title">Наше решение уже интегрировано</div>
  <div class="decision__description">Интеграция с POS-системой позволяет быстро
    и бесшовно синхронизировать бонусные баллы и мобильные заказы с вашей
    POS-системой. Мы интегрированы с большим количеством
  </div>
  <ul class="decision__partners_list">
    <li class="decision__partners_item">
      <img src="images/partner1.png" alt="partner" />
    </li>
    <li class="decision__partners_item">
      <img src="images/partner2.png" alt="partner" />
    </li>
    <li class="decision__partners_item">
      <img src="images/partner3.png" alt="partner" />
    </li>
    <li class="decision__partners_item">
      <img src="images/partner6.png" alt="partner" />
    </li>
    <li class="decision__partners_item">
      <img src="images/partner5.png" alt="partner" />
    </li>
    <li class="decision__partners_item">
      <img src="images/partner6.png" alt="partner" />
    </li>
    <li class="decision__partners_item">
      <img src="images/partner2.png" alt="partner" />
    </li>
    <li class="decision__partners_item">
      <img src="images/partner3.png" alt="partner" />
    </li>
    <li class="decision__partners_item">
      <img src="images/partner1.png" alt="partner" />
    </li>
  </ul>
  <div class="decision__subtitle">Интеграция с платежными системами
  </div>
  <ul class="decision__partners_list">
    <li class="decision__partners_item">
      <img src="images/partner10.png" alt="partner" />
    </li>
    <li class="decision__partners_item">
      <img src="images/partner11.png" alt="partner" />
    </li>
    <li class="decision__partners_item">
      <img src="images/partner12.png" alt="partner" />
    </li>
    <li class="decision__partners_item">
      <img src="images/partner13.png" alt="partner" />
    </li>
    <li class="decision__partners_item">
      <img src="images/partner14.png" alt="partner" />
    </li>
  </ul>
</section>