<section class="develop">
  <div class="container">
    <div class="develop__content">
      <div class="develop__title">В разработке</div>
        <div class="develop__blocks">
            <div class="develop__block">
                <div class="develop__subtitle">Lorem ipsum</div>
                <div class="develop__cost">
                    <div class="develop__currency">$</div>
                    <div class="develop__value">10</div>
                    <div class="develop__month">/месяц</div>
                </div>
                <div class="develop__text develop__text_border">Aenean ornare nascetur.</div>
                <div class="develop__text develop__text_m-t">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus, nulla id vitae </div>
                <div class="develop__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu iaculis in odio ac fusce enim risus ut volutpat lectus mattis.</div>
                <div class="develop__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus turpis aliquam, massa </div>
            </div>
            <div class="develop__block">
                <div class="develop__subtitle">Lorem ipsum</div>
                <div class="develop__cost">
                    <div class="develop__currency">$</div>
                    <div class="develop__value">15</div>
                    <div class="develop__month">/месяц</div>
                </div>
                <div class="develop__text develop__text_border">Aenean ornare nascetur.</div>
                <div class="develop__text develop__text_m-t">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus, nulla id vitae </div>
                <div class="develop__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu iaculis in odio ac fusce enim risus ut volutpat lectus mattis.</div>
                <div class="develop__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus turpis aliquam, massa </div>
            </div>
        </div>
    </div>
  </div>

</section>