<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__top_content">
        <a href="/" class="footer__logo">
          <img src="images/logo.png" alt="logo" />
        </a>
        <div class="footer__social_wrapper">
          <div class="footer__social">
            <a href="#" class="footer__social_img">
              <img src="images/vk.png" alt="icon" />
            </a>
            <a href="#" class="footer__social_img">
              <img src="images/telegram.png" alt="icon" />
            </a>
            <a href="#" class="footer__social_img">
              <img src="images/twitter.png" alt="icon" />
            </a>
            <a href="#" class="footer__social_img">
              <img src="images/youtube.png" alt="icon" />
            </a>
          </div>
          <div class="footer__btns">
            <a href="#" ><img src="images/google_play.png" alt="google" /></a>
            <a href="#" ><img src="images/app_store.png" alt="apple" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{! footer top }}

  <div class="container">
    <div class="footer__middle"> 
        <ul class="footer__list">
            <li class="footer__item">
                <div class="footer__link_title">Интернет магазин</div>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Возможности</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Демо</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Как открыть интернет-магазин</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Мобильное приложение</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Приложения</a>
            </li>
        </ul>
        <ul class="footer__list">
            <li class="footer__item">
                <div class="footer__link_title">Каналы продаж</div>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Товары ВКонтакте</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Стартовый сайт</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Яндекс.Маркет</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link"> Google Покупки</a>
            </li>
        </ul>
        <ul class="footer__list">
            <li class="footer__item">
                <div class="footer__link_title">Поддержка</div>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">База знаний</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Стартовая настройка магазина</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Что такое E-Burger</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Эксперты по E-Burger</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Новости E-Burger</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Состояние сервиса</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Связаться с техподдержкой</a>
            </li>
        </ul>
        <ul class="footer__list">
            <li class="footer__item">
                <div class="footer__link_title">КОМПАНИЯ</div>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">О нас</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Для прессы</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Соглашение</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Работа в Эквиде</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Защита авторских прав</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">О персональных данных</a>
            </li>
        </ul>
        <ul class="footer__list">
            <li class="footer__item">
                <div class="footer__link_title">ПАРТНЕРАМ</div>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Реферальная программа</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Разработчикам</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Партнерам</a>
            </li>
        </ul>
        <ul class="footer__list">
            <li class="footer__item">
                <div class="footer__link_title">СООБЩЕСТВО</div>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Блог</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">ВКонтакте</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Телеграм</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Twitter</a>
            </li>
            <li class="footer__item">
                <a href="#" class="footer__link">Youtube</a>
            </li>
        </ul>
        <div class="footer__social_wrapper mob__visible">
          <div class="footer__social">
            <div class="footer__social_img">
              <img src="images/vk.png" alt="icon" />
            </div>
            <div class="footer__social_img">
              <img src="images/telegram.png" alt="icon" />
            </div>
            <div class="footer__social_img">
              <img src="images/twitter.png" alt="icon" />
            </div>
            <div class="footer__social_img">
              <img src="images/youtube.png" alt="icon" />
            </div>
          </div>
          <div class="footer__btns footer__btns_mob">
            <img src="images/google_play.png" alt="google" />
            <img src="images/app_store.png" alt="apple" />
          </div>
        </div>
    </div>
  </div>

  {{! footer bottom }}
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom_content">
        <div class="footer__bottom_left">Copyright@2022</div>
        <div class="footer__bottom_right">Политика конфиденциальности</div>
      </div>
    </div>
  </div>
</footer>