<section class="future">
    <div class="future__title">Посмотрите готовые дизайны для вашего будущего сайта
    </div>
    <div class="future__slider">
        <div class="future__item">
            <img src="images/future1.png" alt="design">
        </div>
        <div class="future__item">
            <img src="images/future2.png" alt="design">
        </div>
        <div class="future__item">
            <img src="images/future3.png" alt="design">
        </div>
        <div class="future__item">
            <img src="images/future1.png" alt="design">
        </div>
        <div class="future__item">
            <img src="images/future2.png" alt="design">
        </div>
        <div class="future__item">
            <img src="images/future3.png" alt="design">
        </div>
    </div>
    <div class="future__link future__link_mobile"><a href="#">homing.com</a></div>
    <div class="future__nav">
        <div class="future__link future__link_desctop"><a href="#">homing.com</a></div>
        <div class="future__btns">
            <button class="button future__prev">
                <img src="images/arrow_prev.png" alt="prev">
            </button>
            <button class="button future__next">
                <img src="images/arrow_next.png" alt="next">
            </button>
        </div>
        <button class="button future__example">Посмотреть все примеры</button>
    </div>
</section>