<header class="header">
  <div class="header__logo">
    <img src="images/logo.png" alt="logo" />
  </div>
  <div class="header__nav">
    <ul class="header__list">
      <li class="header__item">
        <a href="#" class="header__link">Главная</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Тарифы</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Блог</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Партнерам</a>
      </li>
    </ul>
    <button class="burger">
      <span aria-hidden="true"></span>
    </button>
    <div class="burger__menu">
      <ul class="burger__list">
        <li><img src="images/logo.png" alt="logo" /></li>
        <li><a href="#advantages">Главная</a></li>
        <li><a href="#projects">Тарифы</a></li>
        <li><a href="#plan">Блог</a></li>
        <li><a href="#testimonials">Партнерам</a></li>
      </ul>
    </div>
    <div class="header__btns">
      <button
        class="button header__button header__button_lang"
        type="button"
      >En</button>
      <button class="button header__button" type="button">Вход</button>
    </div>
  </div>
</header>