<main class="main">
  <div class="main__content">
    <div class="main__title">Решение для онлайн<br />торговли за 50$/мес</div>
    <div class="main__description">Запусти свой сайт и мобильное приложение для
      IOS + Android за 3 дня
    </div>
    <div class="main__btns">
        <button class="button main__button_info" type="button">Узнать подробнее</button>
        <button class="button main__button_rate" type="button">Тарифы</button>
    </div>
  </div>
</main>