<section class="plan">
    <div class="container">
        <div class="plan__content">
            <div class="plan__top">
                <button class="plan__tab">Годовой ( экономия 17%)</button>
                <button class="plan__tab">Ежемесячно</button>
            </div>
            <div class="plan__bottom">
                <div class="plan__block_wrapper">
                    <div class="plan__mob_title_block">Бесплатный план навсегда</div>
                    <div class="plan__block">
                        <div class="plan__subtitle">Беcплатно</div>
                        <div class="plan__cost">
                            <div class="plan__currency">$</div>
                            <div class="plan__value">0</div>
                        </div>
                        <div class="plan__text plan__text_border">Бесплатный план навсегда</div>
                        <div class="plan__text plan__text_m-t">Простой интернет-магазин для запуска вашего бизнеса бесплатно</div>
                        <button type="button" class="button plan__button">Начало работы</button>
                    </div>
                </div>
                <div class="plan__block_wrapper">
                    <div class="plan__mob_title_block">$59/месяц при оплате за год</div>
                    <div class="plan__block">
                        <div class="plan__subtitle">Lorem ipsum</div>
                        <div class="plan__cost">
                            <div class="plan__currency">$</div>
                            <div class="plan__value">99</div>
                            <div class="plan__month">/месяц</div>
                        </div>
                        <div class="plan__text plan__text_border">$59/месяц <br>при оплате за год</div>
                        <div class="plan__block_subtitle_mob">Показать особенности плана</div>
                        <ul class="plan__block_list">
                            <li class="plan__block_subtitle">Lorem ipsum</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet</li>
                        </ul>
                        <button type="button" class="button plan__button">Начало работы</button>
                    </div>
                </div>
                <div class="plan__block_wrapper">
                    <div class="plan__mob_title_block">$99/месяц при оплате за год</div>
                    <div class="plan__block">
                        <div class="plan__subtitle">Lorem ipsum</div>
                        <div class="plan__cost">
                            <div class="plan__currency">$</div>
                            <div class="plan__value">149</div>
                            <div class="plan__month">/месяц</div>
                        </div>
                        <div class="plan__text plan__text_border">$99/месяц <br>при оплате за год</div>
                        <div class="plan__block_subtitle_mob">Показать особенности плана</div>
                        <ul class="plan__block_list">
                            <li class="plan__block_subtitle">Lorem ipsum</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                        </ul>
                        <button type="button" class="button plan__button">Начало работы</button>
                    </div>
                </div>
                <div class="plan__block_wrapper">
                    <div class="plan__mob_title_block">$59/месяц при оплате за год</div>
                    <div class="plan__block plan__block_m-0">
                        <div class="plan__subtitle">Lorem ipsum</div>
                        <div class="plan__cost">
                            <div class="plan__currency">$</div>
                            <div class="plan__value">199</div>
                            <div class="plan__month">/месяц</div>
                        </div>
                        <div class="plan__text plan__text_border">$149/месяц <br>при оплате за год</div>
                        <div class="plan__block_subtitle_mob">Показать особенности плана</div>
                        <ul class="plan__block_list">
                            <li class="plan__block_subtitle">Lorem ipsum</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet, consectetur</li>
                            <li class="plan__text plan__text_m-t">Lorem ipsum dolor sit amet</li>
                        </ul>
                        <button type="button" class="button plan__button">Начало работы</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>