<section class="question">
    <div class="container">
  <div class="question__blocks">
    <div class="question__block">
      <div class="question__block_circle">
            <div class="question__block_img">
                <img src="images/people.png" alt="icon" />
            </div>
        </div>
      <div class="question__block_title">Поддержка</div>
      <div class="question__block_description">Команда поддержки готова ответить
        на ваши вопросы по телефону, в чате и на почте. Обращайтесь, если нужна
        помощь</div>
      <div class="question__block_link">
        <a href="#">Центр поддержки</a>
      </div>
    </div>
    <div class="question__block">
        <div class="question__block_circle">
            <div class="question__block_img">
                <img src="images/tags.png" alt="icon" />
            </div>
        </div>
      <div class="question__block_title">Помощь в выборе тарифа</div>
      <div class="question__block_description">Сомневаетесь какой тарифный план
        подойдет для вашего бизнеса? Поможем с выбором лучшего варианта</div>
      <div class="question__block_link">
        <a href="#">Открыть чат</a>
      </div>
    </div>
    <div class="question__block">
      <div class="question__block_circle">
            <div class="question__block_img">
                <img src="images/key.png" alt="icon" />
            </div>
        </div>
      <div class="question__block_title">Инивидуальные решения</div>
      <div class="question__block_description">Добавим нестандарные функции и
        настроим интеграци вашего магазина с сервисами, необхадимыми в работе</div>
      <div class="question__block_link">
        <a href="#">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="question__title">Часто задаваемые вопросы
  </div>
    <ul class="question__list">
      <li class="question__item">
        Могу ли я подключить свой домен? 
      </li> 
      <ul class="question__list_sub_hide">
        <li class="question__item_sub">
          Почему бы и нет
        </li>
      </ul>
      <li class="question__item">
        Могу ли я добавить витрину магазина на уже существующий сайт?
      </li>
      <ul class="question__list_sub_hide">
        <li class="question__item_sub">
          <p>
            Да
          </p>
          <p>
            Можно
          </p>
          <p>
            Отличое решение
        </li>
      </ul>

      <li class="question__item">
        Как импортировать товары с другой платформы в магазин?
      </li>
      <ul class="question__list_sub_hide">
        <li class="question__item_sub">
          Нужно взять товары с другой платформы и импортировать их в магазин
        </li>
      </ul>

      <li class="question__item">
        Могу ли я подключить свой домен? 
      </li>
      <ul class="question__list_sub_hide">
        <li class="question__item_sub">
          Да, конечно
        </li>
      </ul>

      <li class="question__item">
        Где разместить информацию о доставке и другие правовые документы?
      </li>
      <ul class="question__list_sub_hide">
        <li class="question__item_sub">
          Там где это будет актуально
        </li>
      </ul>

    </ul>
    </div>
</section>