<section class="rate">
    <div class="container">
        <div class="rate__content">
            <div class="rate__text">
                <div class="rate__title">Тарифы</div>
                <div class="rate__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Leo purus ultrices nec egestas. Ut in ullamcorper odio ut sed posuere. Nulla at vel tellus blandit el</div>
            </div>
            <div class="rate__images">
                <div class="rate__img">
                    <img class="rate__tablet" src="images/tablet.png" alt="tablet">
                    <img class="rate__phone" src="images/phone_rate.png" alt="phone">
                    <img class="rate__procent" src="images/procent.png" alt="procent">
                    <img class="rate__idea" src="images/idea.png" alt="idea">
                </div>
            </div>
        </div>
    </div>
</section>