<section class="registration">
  <div class="registration__logo_mob">
    <img src="images/logo.png" alt="logo" />
  </div>
  <div class="registration__title">Регистрация</div>
  <div class="registration__wrapper">
<div class="registration__top">
  <div class="registration__social_btns">
    <button class="button registration__btn" type="button">Google</button>
    <button class="button registration__btn" type="button">Facebook</button>
  </div>
  <div class="registration__or">Или</div>
</div>
  <form action="#" class="registration__form" method="post">
    <input
      class="input registration__input registration__input_name"
      type="text"
      placeholder="Имя"
    />
    <input
      class="input registration__input"
      type="text"
      placeholder="Email или телефон"
    />

    <input 
      class="input registration__input"
      type="password"
      placeholder="Придумайте пароль"
    />

    <input
      class="input registration__input registration__input_confirm"
      type="password"
      placeholder="Повторите пароль"
    />

    <div class="registration__remember">
      <input type="checkbox" />
      <span>Запомнить меня</span>
    </div>
    <div class="registration__privacy">
      <input type="checkbox" />
      <span>Я подтверждаю, что согласен с
        <a href="#">Политикой конфиденциальности</a></span>
    </div>
    <button
      class="button registration__button"
      type="button"
    >Зарегистрироваться</button>
  </form>
  </div>
  <div class="registration__bottom">
    <div class="registration__login">Есть аккаунт?
      <a href="login.html"> Авторизацция</a></div>
    <div class="registration__lang">EN</div>
  </div>
</section>