<section class="request">
    <div class="container">
        <div class="request__content">
            <div class="request__left">
                <div class="request__title">Наша платформа позволяет внедрить и реализовать абсолютно любой функционал, если вы не нашли то что искали в описание характеристик, оставьте заявку, и обсудим реализацию нужного вам функционала</div>
                <form action="#" class="request__form" method="GET">
                    <div class="request__input_wrapper">
                        <div class="request__input_text">Имя</div>
                        <input type="text" class="request__input" placeholder="Андрей">
                    </div>
                    <div class="request__input_wrapper request__input_wrapper_m-l">
                        <div class="request__input_text">Телефон</div>
                        <input type="tel" class="request__input" id="phone" placeholder="+7 (___) ___-__-__">
                    </div>
                    <button class=" button request__button">
                        Оставить заявку
                    </button>  
                </form>
                <div class="request__agree">Отправляю данную форму даю согласие на обработку персональных данных</div>
            </div>
            <div class="request__right">
                <div class="request__img">
                    <img src="images/chat.png" alt="chat">
                </div>
            </div>
        </div>
    </div>
</section>