<div class="reward">
    <div class="reward__top">
        <div class="reward__title">Первый в мире Ecommerce Business hub
        </div>
        <div class="reward__img">
            <img src="images/reward.png" alt="reward" />
        </div>
    </div>
    <div class="reward__description">
    Мы создали и развиваем решением для онлайн торговли, каждый наш клиент это
    новые возможности платформы которые мы внедряем для своих клиентов
    бесплатно
    </div>
</div>