<section class="site">
  <div class="site__title">Современный сайт и мобильные приложения для продаж
  </div>
  <div class="site__btns">
      <button class="button site__btns_app" type="button">Мобильное приложение</button>
      <button class="button site__btns_store" type="button">Интернет-магазин</button>
  </div>
  <div class="site__content">
      <ul class="site__list">
          <li class="site__item site__item_title">Для Ваших клиентов</li>
          <li class="site__item">
                <img class="site__item_img" src="images/menu_icon.png" alt="">
                <span class="site__item_text">Меню и категории</span>
            </li>
          <li class="site__item">
            <img class="site__item_img" src="images/order_icon.png" alt="">
            <span class="site__item_text">Удобное оформление заказа</span>
            </li>
          <li class="site__item">
            <img class="site__item_img" src="images/menu_icon.png" alt="">
            <span class="site__item_text">Система лояльности</span>
            </li>
          <li class="site__item">
            <img class="site__item_img" src="images/order_icon.png" alt="">
            <span class="site__item_text">Разные способы оплаты</span>
            </li>
      </ul>
      <div class="site__img">
          <img src="images/site_img.png" alt="phone">
      </div>
      <ul class="site__list">
          <li class="site__item site__item_title site__item_title_mob">Для бизнеса</li>
          <li class="site__item">
                <img class="site__item_img" src="images/menu_icon.png" alt="">
                <span class="site__item_text">Синхронизация меню</span>
            </li>
          <li class="site__item">
            <img class="site__item_img" src="images/order_icon.png" alt="">
            <span class="site__item_text">Модификаторы</span>
            </li>
          <li class="site__item">
            <img class="site__item_img" src="images/menu_icon.png" alt="">
            <span class="site__item_text">Рассылка PUSH уведомлений</span>
            </li>
          <li class="site__item">
            <img class="site__item_img" src="images/order_icon.png" alt="">
            <span class="site__item_text">Фейсбук аналитика</span>
            </li>
            <li class="site__item site__item_btns">
              <a href="#"><img src="images/google_play.png" alt="google"></a>
              <a href="#"><img src="images/app_store.png" alt="apple"></a>
          </li>
      </ul>
  </div>
</section>