<section class="steps">
    <div class="steps__title">Начать онлайн торговлю за 4 простых шага</div>
    <ul class="steps__list">
        <li class="steps__item">
            1. Оформляйте заявку.
        </li>
        <li class="steps__item">
            2. Выбирайте дизайн.
        </li>
        <li class="steps__item">
            3. Импортируйте товары.
        </li>
        <li class="steps__item">
            4. Запускайте сайт.
        </li>
    </ul>
    <div class="steps__bottom">
        <div class="steps__help">Нужна помощь с запуском? 
</div>
        <div class="steps__description">Наши специалисты готовы бесплатно перенести все seo настройки и товары на нашу платформу</div>
    </div>
</section>