<section class="support">
    <div class="support__title">Поддержка</div>
    <div class="support__content">
        <div class="support__left">
            <ul class="support__list">
                <li class="support__item">
                    <div class="support__subtitle">Чат</div>
                    <div class="support__text">
                        <a href="#" class="support__link">Отвечаем на вопросы</a>
                        с 9:00 до 23:00
                    </div>
                </li>
                <li class="support__item">
                    <div class="support__subtitle">Телефон</div>
                    <div class="support__text">
                        Горячая линия
                        <a href="#" class="support__link">+7 (88)  000- 00- 00</a>
                    </div>
                </li>
                <li class="support__item">
                    <div class="support__subtitle">Документация</div>
                    <div class="support__text">
                        <a href="#" class="support__link">Инструкция пользователя</a>
                        в центре поддержки
                    </div>
                </li>
                <li class="support__item">
                    <div class="support__subtitle">Обновления</div>
                    <div class="support__text">Регулярно обновляем все интернет-магазины</div>
                </li>
                <li class="support__item">
                    <div class="support__subtitle">Мониторинг</div>
                    <div class="support__text">Мониторим работу сайтов 24/7</div>
                </li>
            </ul>
        </div>
        <div class="support__right">
            <div class="support__img">
                <img src="images/support.png" alt="support">
                <img class="support__chat1" src="images/support_chat3.png" alt="support">
                {{!-- <img class="support__chat2" src="images/support_chat3.png" alt="support"> --}}
                <img class="support__chat3" src="images/support_chat3.png" alt="support">
            </div>
        </div>
    </div>
</section>