.header {
    width: 100%;
    @include max-md {
        background-color: #fff;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 27px 48px 27px 88px;
        background-color: #f5f6f7;
        @include max-lg {
            padding: 27px 0 27px 68px;
        }
        @include max-md {
            border-bottom: 1px solid #e7e7e7;
            margin: 0 15px;
            padding: 15px 0;
            background-color: #fff;
        }
    }
    &__login {
        display: none;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.2px;
        color: #6F6F6F;
        text-transform: capitalize;
        padding: 16px 41px;
        background: #F5F6F7;
        border-radius: 3px;
        @include max-md {
            display: none !important;
        }
        &_reg {
            display: none;
        }
    }
    &__register {
        display: none;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.2px;
        color: #6F6F6F;
        text-transform: capitalize;
        padding: 16px 41px;
        background: #F5F6F7;
        border-radius: 3px;
    }
    &__nav {
        display: flex;
        align-items: baseline;
        padding-right: 48px;
        @include max-md {
            justify-content: space-between;
            width: 100%;
            padding-right: 0;
            align-items: center;
        }
    }
    &__logo {
        max-width: 196px;
        max-height: 47px;
        cursor: pointer;
        @include max-xl {
            max-width: 150px;
        }
        @include max-lg {
            max-width: 130px;
        }
        @include max-md {
            display: none;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 177px;
        @include max-xxl {
            margin-right: 50px;
        }
        @include max-lg {
            margin-right: 10px;
        }
        @include max-md {
            display: none;
        }
    }
    &__item:not(:last-child) {
        margin-right: 53px;
        @include max-xl {
            margin-right: 25px;
        }
        @include max-lg {
            margin-right: 15px;
        }
    }
    &__link {
        color: #131313;
        opacity: .7;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        @include max-xl {
            font-size: 14px;
        }
        @include max-lg {
            font-size: 13px;
        }
    }
    &__btns {
        display: flex;
        align-items: center;
    }
    &__button {
        padding: 10px 46px;
        background: #3996F3;
        color: #fff;
        margin-top: -7px;
        font-family: 'Montserrat';
        border-radius: 3px;
        @include max-lg {
            font-size: 13px;
        }
        @include max-md {
            max-width: 79px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &_lang {
            color: #3996F3;
            font-family: 'Geometria';
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 18px;
            background: inherit;
            padding: 7px 10px !important;
            margin-right: 18px;
            display: flex;
            align-items: center;
            @include max-md {
                width: 40px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F5F6F7;
                border-radius: 3px;
            }
            &:after {
                content: "";
                background-image: url(../images/lang_arrow.png);
                width: 14px;
                height: 7px;
                display: flex;
                background-size: contain;
                margin-left: 12px;
                @include max-md {
                    display: none;
                }
            }
        }
        @include max-md {
            padding: 7px 24px;
            margin-top: 0;
        }
        
    }
    &__enter {
        text-transform: capitalize;
        display: none;
    }
}