.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 27px;
    padding-left: 88px;
    background-color: #f5f6f7;
    @include max-md {
        border-bottom: 1px solid #e7e7e7;
        padding: 0 0 15px;
    }
    &__nav {
        display: flex;
        align-items: flex-start;
        padding-right: 48px;
        @include max-md {
            justify-content: space-between;
            width: 100%;
            padding-right: 0;
            align-items: center;
        }
    }
    &__logo {
        max-width: 196px;
        max-height: 47px;
        @include max-lg {
            max-width: 150px;
        }
        @include max-md {
            display: none;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 177px;
        @include max-xxl {
            margin-right: 50px;
        }
        @include max-lg {
            margin-right: 35px;
        }
        @include max-md {
            display: none;
        }
    }
    &__item:not(:last-child) {
        margin-right: 53px;
        @include max-xl {
            margin-right: 25px;
        }
        @include max-lg {
            margin-right: 15px;
        }
    }
    &__link {
        color: #131313;
        opacity: .7;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        @include max-lg {
            font-size: 13px;
        }
    }
    &__btns {
        display: flex;
    }
    &__button {
        padding: 10px 46px;
        background: #3996F3;
        color: #fff;
        margin-top: -7px;
        font-family: 'Montserrat';
        border-radius: 3px;
        @include max-lg {
            font-size: 13px;
        }
        &_lang {
            color: #3996F3;
            font-family: 'Geometria';
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 18px;
            background: #fff;
            padding: 7px 10px !important;
            margin-right: 18px;
            display: none;
            @include max-md {
                display: block;
            }
        }
        @include max-md {
            padding: 7px 24px;
            margin-top: 0;
        }
    }
}