* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Geometria;
}
body {
	background-color: #f5f6f7;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	width: 100%;
}
a {
	text-decoration: none;
	text-transform: uppercase;
}
button {
	border: none;
}
.owf__hidden {
	overflow: hidden;
}
.hide {
	display: none !important;
}
.visible {
	display: block !important;
}
.container {
	max-width: 1300px;
	margin: 0 auto;
}
.gray {
	background-color: #f5f6f7 !important;
}
.bg__white {
	background-color: #fff !important;
}
.blue {
	color: #3996F3 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
	-moz-appearance: textfield;
}