.reward {
    background-color: #fff;
    padding-left: calc(50% - 648px);
    padding-right: calc(50% - 664px);
    padding-top: 132px;
    padding-bottom: 77px;
    position: relative;
    @include max-md {
        padding-top: 72px;
    }
    & > div {
        @include max-xxl {
            padding: 0 50px;
        }
        @include max-md {
            padding: 0 15px;
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: -150px;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: 151px solid #fff;
        border-left: 99vw solid transparent;
        overflow: hidden;
    }
    // &::after {
    //     content: '';
    //     position: absolute;
    //     background-image: url(../images/main_img.png);
    //     top: -398px;
    //     background-repeat: no-repeat;
    //     background-position: top;
    //     left: 0;
    //     width: 100%;
    //     background-size: contain;
    //     height: 100%;
    // }
&__top{
    display: flex;
    justify-content: space-between;
    
    @include max-md {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}
&__title{
    font-size: calc(22px + (48 - 22) * ((100vw - 320px) / (1920 - 320)));
    line-height: 70px;
    letter-spacing: -1px;
    font-weight: 700;
    color: #131313;
    @include max-md {
        line-height: 30px;
        margin-top: 18px;
    }
}
&__description{
    font-size: calc(14px + (22 - 14) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(19px + (31 - 19) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    letter-spacing: -0.2px;
    color: #131313;
    font-family: 'Montserrat';
    max-width: 868px;
    @include max-md {
        margin-top: 18px;
    }
}
&__right{}
&__img{
    max-width: 105px;
    @include max-md {
        margin: 0 auto;
    }
}
}